/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #fff;
  color: #333435;
}

.fullLogo {
  width: 244px;
  height: 84px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBanner {
  max-width: 510px;
}

.btnDownload {
  background: #60A5FA;
  text-align: center;
  padding: 12px 0;
  margin-right: 24px;
  color: #fff;
  font-size: 16px;
  width: 110px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
}

.btnBlock, .homeBanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.featuresBlock {
  background-color: #F2F2F6;
}

.homeBanner {
  max-width: 960px;
  margin: auto;
}

.homeBannerItem {
  text-align: center;
  display: flex;
}