/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #fff;
  color: #333435;
}

.fullLogo {
  width: 244px;
  height: 84px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBanner {
  max-width: 510px;
}

.btnDownload {
  background: #60A5FA;
  text-align: center;
  padding: 12px 0;
  margin-right: 24px;
  color: #fff;
  font-size: 16px;
  width: 110px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
}

.btnBlock, .homeBanner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.featuresBlock {
  background-color: #F2F2F6;
}

.homeBanner {
  max-width: 1110px;
  margin: auto;
}

.homeBannerItem {
  text-align: center;
  display: flex;
}

.hideOnMobile {
  display: block;
}

.colorYellow {
  color: chocolate;
}

.colorBlue {
  color: #3B82F6;
}

.subtitle {
  text-align: left;
}

.thumbBlock {
  margin-left: 150px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .btnDownload {
    font-size: 13px;
    width: 95px;
    margin-right: 14px;
  }

  .hideOnMobile {
    display: none;
  }

  .imgBanner {
    max-width: 255px;
  }

  .btnBlock, .homeBanner {
    display: block;
  }

  .thumbBlock {
    display: block;
    margin-left: 0;
  }

  .btnBlock {
    display: flex;
  }

  .subtitle {
    text-align: center;
  }
}